body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
}

.left {
    background-color: black;
    color: white;
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.left h1 {
    color: #059cfc;
    font-weight: 300;
    padding: 5px 25px;
    margin-bottom: -15px;
}

.left h2 {
    font-weight: normal;
    font-size: 35px;
    padding: 5px 25px;
}

.left p {
    text-align: justify;
    padding: 5px 25px;
}

.left button {
    border: none;
    border-radius: 5px;
    background-color: #059cfc;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin-left: 25px;
    margin-bottom: 30px;
    width: 200px;
}

.left a {
    text-decoration: none;
    color: white;
}

image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.right {
    padding: 50px 25%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.right p {
    color: grey;
}

.right a {
    color: grey;
    text-decoration: none;
    color: black;
}

.google-signin {
    border: 1px solid rgb(201, 201, 201);
    background-color: white;
    border-radius: 20px;
    padding: 15px 45px;
    width: 550px;
    color: black;
    font-weight: bold;
}

.alter-option {
    display: flex;
    justify-content: center;
    margin: 50px 15px;
}

.label {
    font-size: 12px;
    font-weight: bold;
}

form input {
    background-color: white;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 10px;
    width: 550px;
    height: 35px;
    margin-bottom: 25px;
}

.forgot {
    margin-top: -20px;
    margin-left: 5px;
    text-decoration: underline;
    font-size: 12px;
}

.submit {
    background-color: black;
    color: white;
    height: 40px;
}

.register {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

form input:hover {
    box-shadow: 0 0 5px blue;
}

form input:active {
    box-shadow: 0 0 30px grey;
}

.submit:hover {
    scale: 1.05;
}